@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: var(--font-outfit);
}

.landing-page-container {
  /* background: url('../public/landingpage-bg.png') repeat fixed; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../public/landingpage-bg.png');
}

.work-list-marker ::marker {
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  .landing-page-container {
    background-size: cover;
    /* background-image: url("../public/landingpage-bg-mbl.png"); */
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0px;
}

::-webkit-scrollbar-button:vertical:increment {
  background-color: #fff;
}

::-webkit-scrollbar-track-piece {
  background-color: #eee;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #918989;
  -webkit-border-radius: 3px;
}

.select-container {
  .MuiFormControl-root {
    align-items: end;
    width: auto;
  }
}

.video-player .customwrap video {
  border-radius: 0.5em;
  z-index: 4;
  position: relative;
}

.customwrap {
  width: 100% !important;
  height: 100% !important;
}

.customwrap video {
  width: auto;
  height: auto;
  object-fit: cover;
}

.video-container #video-main .customwrap video {
  object-fit: cover;
}

.video-expand .customwrap video {
  @media only screen and (min-width: 768px) {
    max-width: 350px;
  }

  width: 50%;
  border-radius: 0px;
}

.scroll-bar {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Chrome, Safari and Opera */
input:-webkit-autofill {
  transition: background-color 1s 5000s !important;
}
/* Firefox */
input:-moz-ui-invalid {
  box-shadow: none !important;
}

.css-18i9zaa {
  width: auto !important;
}

.video-landscape .customwrap video {
  position: absolute;
  left: 1.25rem;
  z-index: 10;
  max-height: 600px;
  width: 85%;
  height: 520px;

  @media only screen and (min-width: 640px) {
    margin-top: -0.9em;
  }

  @media only screen and (min-width: 768px) {
    margin-top: -2em;
  }

  @media only screen and (min-width: 1024px) {
    margin-top: -2em;
  }
}

.PhoneInputInput:focus-visible {
  outline: none;
}

/* @layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.5px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
} */

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 1px; /* Adjust as needed */
    -webkit-text-stroke-color: black; /* Adjust as needed */
    color: white; /* Adjust as needed */
  }
}

.recharts-cartesian-axis-ticks {
  @media only screen and (max-width: 500px) {
    padding-right: 20px !important;
  }
}
